body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(231, 229, 226);
}

canvas {
  max-width: 500px;
  max-height: 500px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  canvas {
    min-width: 200px;
    min-height: 200px;
  }
  .col {
    padding: 0;
  }
}
